// Dimensions
$card-image-width: 180px;
$card-image-height: 180px;
$card-image-width-desktop: 200px;
$card-image-height-desktop: 200px;

$page-vertical-gap: 24px;
$navbar-height: 84px;
$home-fixed-content-height: 125px;
$home-fixed-content-height-mobile: 101px;
$favorites-fixed-content-height: 185px;
$favorites-fixed-content-height-mobile: 161px;

$breakpoint-xs: 640px; // phones
$breakpoint-sm: 768px; // small tablets
$breakpoint-md: 1024px; // tablets / small laptops
$breakpoint-lg: 1280px; // laptops / desktops

$marvel-red: #ec1d24;
