.cards-grid {
  margin-top: 233px;
  padding: 0 48px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--card-image-width-desktop), 1fr)
  );
  gap: 16px;
  justify-items: center;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--card-image-width), 1fr)
    );
  }

  @media (max-width: 640px) {
    margin-top: 209px;
    padding: 0 16px;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--card-image-width), 1fr)
    );
  }
}
